.NavbarItems{
    background: #343434;
    
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border-style: ridge;
    border-top: 0px #d4af37;
    border-left: 0px #d4af37;
    border-right: 0px #d4af37;
    border-color: #d4af37;
    
}

.navbar-logo {
    color: #fff;
    font-size: 2vh;
    justify-self: start;
    margin-left: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
    cursor: pointer;
}

.fa-react {
    margin-left: 0.5rem;
    font-size: 2vh;
    color: #d4af37;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
}

.nav-links {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.nav-links:hover {
    color: #d4af37;
    border-color: #d4af37;
    border-style: groove;
    border-width: 1px;
    border-radius: 15px;
    transition: all 0.1s ease;
    background-color: rgba(212, 175, 55, 0.1);
    color: #FFED8A;
    transition: 0.3s ease;
}

.fa-bars {
    color: #d4af37;
    font-size: 1.5rem;
}

.nav-links-mobile {
    display: none;
}

.menu-icon {
    display: none;
    margin-bottom: 15px;
    

}

/* linear-gradient(90deg, rgb(110, 94, 254) 0%, rgba(73,63,252,1) 100%); */


@media screen and (max-width: 570px) {
    .NavbarItems {
        position: relative;
        overflow-x: hidden;
    }
    .NavbarItems.active{
        position: relative;
        overflow-x: visible;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 15%;
        height: 130px;
        position: absolute;
        top: 50px;
        right: -100%;
        opacity: 1;
        transition: all 0.5s ease;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .nav-menu.active {
        background: #343434;
        border: #d4af37;
        border-style: ridge;
        border-right: 0px #d4af37;
        border-top: 0px #d4af37;
        border-radius: 15px;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
        border-bottom-right-radius: 0px;
        right: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
        margin-top: 0%;
        margin-right: 0%;
        margin-bottom: 0%;
        padding-right: 3%;
        padding-left: 2%;
    }
    .nav-links {
        text-align: center;
        justify-content: left;
        padding: 0.1rem;
        width: 70%;
        display: table;
        font-size: 2vh;
        margin-top: 0.5vh;
        margin-right: 20px;
    }

    .nav-links:hover {
        color: #d4af37;
        border-radius: 12px;
    }

    .navbar-logo {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(25%, 50%);
    }
    
    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        bottom: 21px;
        right: 1px;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
        padding-top: 0%;
       
       
    }

    .fa-times {
        color: #d4af37;
        font-size: 1.5rem;
    
    }

    .nav-links-mobile {
        display: block;
        text-align: center;
        padding: 0.5rem;
        margin-right: 20px;
        margin: 1rem auto;
        border-radius: 4px;
        width: 40%;
        background: #3D3D3D;
        text-decoration: none;
        color: #fff;
        font-size: 1.5rem;
    }

    .nav-links-mobile:hover {
        background-color: rgba(212, 175, 55, 0.1);
        color: #FFED8A;
        transition: 0.5s ease;
     
    }

    Button {
        display: none;
    }
}