.stockInfo{
    position: center;
    justify-items: center;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 3%;
    padding-top: 1%;
    padding-bottom: "1%";
    font-family: Noto Sans,sans-serif;
    border-radius: 15px;
    padding-left: 2%;
    
   

}


.searchForm {
    text-align: center;
    
    
}

.searchField {
    margin-right: 3%;
    
   color: #d4af37;
  
}

.searchButton {
    margin-left: 2%;
    
}

.searchInfo {
    text-align: center;
}