


body {
  background-color: #4c5f7a;
  color: #fff;
}



.AppInfo {
  border-color:  #4ad9e4;
  border-style: double;
  text-align: center;
  font-family: Noto Sans, sans-serif;
  margin-left: 3%;
  margin-right: 3%;
}