


body {
  background-color: #4c5f7a;
  color: #fff;
}



.AppInfo {
  border-color:  #3acbf7;
  border-style: double;
  text-align: center;
  font-family: Noto Sans, sans-serif;
  margin-left: 3%;
  margin-right: 3%;
}

.sectorMenu {
  text-align: center;
}

.financeSect {
  background: linear-gradient(90deg, rgb(94, 225, 254) 0%, rgb(16, 110, 193) 100%);
  margin-left: 3%;
  margin-right: 3%;
  border-radius: 2%;
  text-decoration: none;
  height: 50px;
  padding-top: 1%;
  padding-bottom: 2%;
  
  
}

.entertainmentSect {
  background: linear-gradient(90deg, rgb(94, 225, 254) 0%, rgb(16, 110, 193) 100%);
  margin-left: 3%;
  margin-right: 3%;
  border-radius: 2%;
  text-decoration: none;
  height: 50px;
  padding-top: 1%;
  padding-bottom: 2%;
  margin-top: 2%;
}

.travelSect {
  background: linear-gradient(90deg, rgb(94, 225, 254) 0%, rgb(16, 110, 193) 100%);
  margin-left: 3%;
  margin-right: 3%;
  border-radius: 2%;
  text-decoration: none;
  height: 50px;
  padding-top: 1%;
  padding-bottom: 2%;
  margin-top: 2%;
  margin-bottom: 10%;
}

.techSect {
  background: linear-gradient(90deg, rgb(94, 225, 254) 0%, rgb(16, 110, 193) 100%);
  margin-left: 3%;
  margin-right: 3%;
  border-radius: 2%;
  text-decoration: none;
  height: 50px;
  padding-top: 1%;
  padding-bottom: 2%;
  margin-top: 2%;
}

.sectorMain {
  text-decoration: underline;
}

.alert {
  padding: 0.7rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}

.Footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  font-size: 70%;
  margin: 0, 3%;
  margin-top: 50px;
  margin-bottom: 3%;
  
  
  border-top: double #3acbf7;
  text-align: center;
  
}